body{
    background-image: none;
}

a{
    color: black;
}

.contendBlog{
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.contendBlog .contendTop{
    background-color: #e5e8ec;
}

.contendBlog .contendTop .postionContendTop{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 80vw;
    margin: 0 auto;
}

.contendBlog .contendTop .postionContendTop .contendTopTitleImage{
    grid-column:1 / span 2;
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.contendBlog .contendTop .postionContendTop .contendTopTitleImage h1{
    grid-row: 1;
    padding: 20px 0 20px 0px;
}

.contendBlog .contendTop .postionContendTop .contendTopTitleImage img{
    grid-row: 2;
    width: 90%;
    padding: 0px 0px 10px 0px;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription{
    grid-column: 3 / span 1;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription h1{
    font-weight: bold;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription p{
    font-size: 15px;
    margin-bottom: 15px;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription a{
    font-size: 15px;
    border: 1px solid black;
    border-radius: 3px;
    
}

/* ------------------------------------------------------------------------posts */

.contendBlog .posts {
    width: 80vw;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.contendBlog .posts h1{
    margin-bottom: 50px;
}


.contendBlog .posts hr{
    margin-bottom: 50px;
}

.contendBlog .posts .articles {
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.contendBlog .posts article {
    font-size: 15px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: left;
}

.contendBlog .posts article h1{
    margin: 0pc;
}

.contendBlog .posts .articles article a{
    font-size: 15px;
    border: 1px solid black;
    border-radius: 3px;
}