body{
    /* width: 99vw; */
    background-image: none;
    width: initial;
}

a{
    color: black;
}

/* -------------------------------------------------------------------------------main */
.contendBlog{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

/* -------------------------------------------------------------------------contendBlog */

.contendBlog .contendTop{
    background-color: #e5e8ec;
}

.contendBlog .contendTop .postionContendTop{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 80vw;
    margin: 0 auto;
    padding: 0px 0 60px 0px;
}

.contendBlog .contendTop .postionContendTop .contendTopTitleImage{
    grid-column:1 / span 2;
    display: grid;
    grid-template-rows: repeat(2,auto);
}

.contendBlog .contendTop .postionContendTop .contendTopTitleImage h1{
    grid-row: 1;
    padding: 20px 0 20px 0px;
}

.contendBlog .contendTop .postionContendTop .contendTopTitleImage img{
    grid-row: 2;
    width: 90%;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription{
    grid-column: 3 / span 1;
    margin: auto;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription h1{
    font-weight: bold;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription p{
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contendBlog .contendTop .postionContendTop .contendTopDescription a{
    font-size: 15px;
    border: 2px solid #64d5b8;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 15px;
}

/* ------------------------------------------------------------------------posts */
.contendBlog .posts{
    width: 80%;
    margin: 0 auto;
}

.contendBlog .posts h1{
    margin-top: 50px;
    text-align: center;
}

.contendBlog .posts hr{
    margin-top: 50px;
    margin-bottom: 25px;
}

/* -----------------------------------------------------------------------articles */

.contendBlog .posts .articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.contendBlog .posts .articles .postUno img{
    width: 100%;
    margin: 10px 0px;
 } 

 .contendBlog .posts .articles .postUno h3{
    margin: 10px 0px;
 } 
 
 .contendBlog .posts .articles .postUno p{
    margin: 10px 0px;
    text-align: left;
    margin: 0px 10px 10px 0px;
 } 

  .contendBlog .posts .articles .postUno a{
    font-size: 15px;
    border: 2px solid #64d5b8;
    padding: 10px 20px;
    display: inline-block;
}

/* -----------------------------------------------------------------------------footer */

footer{
    background-color: #282c31;
    color: white;
    text-align: center;
    padding: 40px 0px;
    margin-top: 80px;
    border-top: 40px solid #64d5b8;
}
